<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
      <li class="nav-link"><a href="{{ site.baseurl }}/" class="logo"><strong>Home</strong></a>
      <li class="nav-link"><a href="https://lp48280421.github.io/research"><strong>Research</strong></a>
      <li class="nav-link"><a href="https://lp48280421.github.io/about"><strong>About Me</strong></a>
      <li class="nav-link"><a href="https://lp48280421.github.io/tutorials"><strong>Tutorials</strong></a>
      <li class="nav-link"><a href="https://lp48280421.github.io/tutorials"><strong>Code</strong></a>
      </ul>
    </nav>
	<!--<style type = "text/css">
	<!--hr{
		margin: 20px 0;
	}
	a{
		font-size: 40px;
		font-weight: bold;
	}-->
	.nav-link a:link{
			color:blue;
			text-decoration:none;
	}
	.nav-link a:visited{
	          color:gray;
			  text-decoration:none;
	}
	.nav-link a:hover{
			color:blue;
			text-decoration:underline;
	}
	.nav-link a:active {
	          color:gray;
			  text-decoration:none;
	}
	</style>-->
  </div>
</header>
